* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  line-height: 22px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
}

p {
  margin: 0;
  padding: 5px 0px;
  font-size: 14px;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}

.wrapper {
  padding-top: 73px;
}

.header {
  padding: 15px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 190px;
  display: flex;
}
.header-icon {
  width: 30px;
  height: 20px;
  cursor: pointer;
  pointer-events: auto;
  position: relative;
  border-radius: 5px;
}
.style-icon {
  content: "";
  width: 30px;
  height: 2px;
  background: #333333;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.header-icon::before {
  content: "";
  top: 2px;
  width: 30px;
  height: 2px;
  background: #333333;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: transform 0.2s linear, top 0.2s linear 0.3s;
  transition: transform 0.2s linear, top 0.2s linear 0.3s;
}
.header-icon::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #333333;
  position: absolute;
  left: 50%;
  top: 18px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: transform 0.2s linear, top 0.2s linear 0.3s;
  -o-transition: transform 0.2s linear, top 0.2s linear 0.3s;
  transition: transform 0.2s linear, top 0.2s linear 0.3s;
}

.header-nav {
  width: 0%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  transition: all;
  transition-duration: 500ms;
  background: #fff;
  overflow: hidden;
}
.header-nav_top {
  background: #da2028;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  color: #fff;
  font-weight: 700;
}
.header-nav_contact {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header-nav_contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
  padding: 15px 10px;
  flex-shrink: 0;
  min-width: 110px;
}

.banner .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
  border-radius: 100%;
  color: transparent;
  border: none;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 35px;
  height: 35px;
  bottom: 10px;
}
.banner .slick-prev {
  left: 20px;
  background-image: url("./../img/iprev.png");
}
.banner .slick-next {
  right: 20px;
  background-image: url("./../img/inext.png");
}

.boxHome {
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 0 10px;
}
.boxHome-img {
  width: 40px;
}
.boxHome-item {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 63px;
}
.boxHome-item p {
  color: #fff;
  margin-left: 15px;
}

.soluHome {
  padding: 0 10px;
}
.soluHome-img {
  width: 100%;
}
.soluHome-txt {
  color: #1f4286;
  font-size: 15px;
  line-height: 23px;
  margin-top: 20px;
  margin-bottom: 70px;
}

.product {
  padding: 0 10px;
}
.product-title {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.product-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #da2028;
  width: 50px;
}
.product-title h2 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  line-height: 37px;
  font-weight: 500;
}
.product-content {
  margin: 0 -5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-item {
  width: 50%;
  margin-bottom: 20px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-item_img {
  width: 100px;
}
.product-item_txt {
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.money {
  padding: 0 10px;
  text-align: center;
}
.money-btn {
  padding: 8px 20px;
  height: 48px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background-color: #da2028;
  border: 1px solid #da2028;
  text-align: center;
  width: 100%;
}

.news {
  margin-top: 30px;
}
.news-content {
  display: flex;
  flex-wrap: wrap;
}
.news-content_item {
  width: 50%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.news-img {
  width: 100%;
}
.news-item_title {
  line-height: 22px;
  font-size: 14px;
  height: 44px;
  margin-bottom: 5px;
  overflow: hidden;
  font-weight: 700;
  margin-top: 10px;
}
.news-item_date {
  color: #999999;
  font-size: 13px;
  line-height: 21px;
  font-style: italic;
}
.see-more {
  color: #da2028;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.discount {
  margin-top: 30px;
}

.testimonial {
  margin-top: 30px;
  /* padding: 0 10px; */
}
.testi-item {
  border: 1px solid #1f4286;
  border-radius: 10px;
  position: relative;
  /* padding: 0 10px; */
}
.testi-item_title {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  background-color: #1f4286;
  align-items: center;
  align-content: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.testi-item_title-img {
  width: 70px;
  border-radius: 100%;
}
.testi-item_title-img img {
  border-radius: 100%;
}
.testi-item_title-content {
  padding-left: 5px;
}
.testi-name {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
  color: #fff;
}
.testi-desc {
  color: #94b5f4;
}
.testi-item_subtitle {
  padding: 15px 15px 30px;
  overflow: hidden;
  font-size: 15px;
  line-height: 23px;
  height: 252px;
}
.quoteTes {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 20px;
  bottom: -15px;
}
.testimonial .slick-list {
  padding-bottom: 16px !important;
}

.partner {
  margin-top: 36px;
  padding: 0 10px;
}
.partner-content_item {
  margin-right: 50px;
}

.footer {
  margin-top: 63px;
}
.footer-contact {
  background-color: #da2028;
  color: #fff;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer-contact_item {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.footer-action {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.footer-action_item {
  height: 49px;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  font-weight: bold;
  color: #111111;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 250px;
}
.footer-copyright {
  font-size: 13px;
  line-height: 21px;
  color: #555555;
  text-align: center;
  padding-top: 10px;
}
.copyright-txt {
  margin-bottom: 5px;
}
